/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doppio+One&family=Play&family=Roboto:ital,wght@1,100&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Play:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
}
